.main {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.Mode {
  margin-left: 15px;
}

.squad {
  display: flex;
  text-align: center;
  height: 30px;
  width: 50%;

  justify-content: baseline;

  margin: 15px;
}

.squad input {
  margin-top: 5px;
  margin-right: 15px;
}

.squad p {
  background-color: aqua;
}

.Custom {
  margin: 15px;
}

.Custom input {
  margin: 10px;
}

.Parameter select {
  margin: 15px;
}

.Parameter input {
  width: 130px;
}

.Weapon {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.Weapon input {
  width: 130px;
}

.top {
  flex-basis: 50%;
  margin-right: 70px;
}
.bottom {
  flex-basis: 50%;
}
