* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bluecolor: #6b00fd;
  --sidebarlongwidth: 200px;
  --sidebarshortwidth: 50px;
}

.navbar {
  position: absolute;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.dark .navbar {
  background-color: rgb(48, 46, 46);
}

.light .navbar {
  background-color: whitesmoke;
}

.left-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10px;
}

.theme-logo-dark {
  transition-duration: 0.2s;
  display: flex;
  margin-right: 20px;
}

.theme-logo-dark:hover {
  border-radius: 50px;
  color: gold;
  cursor: pointer;
  background-color: rgb(77, 74, 74);
  box-shadow: 0 0 2px 5px rgb(77, 74, 74);
}

.theme-logo-light {
  transition-duration: 0.2s;
  display: flex;
  margin-right: 10px;
  color: orangered;
}

.theme-logo-light:hover {
  border-radius: 50px;
  color: black;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 2px 5px rgb(77, 74, 74);
}

.right-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
}

.sidebar {
  position: absolute;
  top: 10vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-overflow: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
  scrollbar-width: thin;
}

.sidebar-long {
  width: var(--sidebarlongwidth);
}

.sidebar-short {
  width: var(--sidebarshortwidth);
}

.dark .sidebar {
  background-color: black;
}

.light .sidebar {
  background-color: white;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-logo-light {
  margin-top: 1vh;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 8vh;
  color: black;
}

.sidebar-logo-dark {
  margin-top: 1vh;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 8vh;
}

.sidebar-main-items {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.sidebar-items {
  width: 100%;
  padding: 10px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.sidebar-sub-items {
  width: 80%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 20px;
  font-size: 0.8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.dark .sidebar-items,
.sidebar-sub-items {
  color: rgb(155, 142, 142);
}

.light .sidebar-items,
.sidebar-sub-items {
  color: grey;
}

.sidebar-items:hover,
.sidebar-sub-items:hover {
  color: white;
  background-color: var(--bluecolor);
  margin-left: 10px;
}

.light .sidebar-sub-items-active,
.dark .sidebar-sub-items-active {
  background-color: var(--bluecolor);
  width: calc(100% - 10px);
  margin-left: 10px;
  color: white;
}

.sidebar-items-img {
  font-size: 2em;
}

.sidebar-sub-items-img {
  font-size: 1em;
}

.sidebar-items-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-items-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  margin-right: 5px;
}
.sidebar-sub-items-text {
  text-align: center;
}

.sec-sidebar {
  position: absolute;
  top: 10vh;
  height: 90vh;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-sidebar-dark {
  background-color: rgb(48, 46, 46);
}

.sec-sidebar-light {
  background-color: whitesmoke;
  color: black;
}

.sec-pri-sidebar-long {
  left: var(--sidebarlongwidth);
}

.sec-pri-sidebar-short {
  left: var(--sidebarshortwidth);
}

.hide-sec {
  width: 0px;
}

.hide-sec div {
  display: none;
}

.show-sec {
  width: 15vw;
}

.sec-level1 {
  width: 90%;
  margin-top: 10px;
}

.level1-title {
  font-size: 1.2em;
  cursor: pointer;
}

.sec-level2 {
  margin-left: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.hide {
  font-size: 0px;
  height: 0px;
}

.sec-level3 {
  margin-left: 10px;
  transition-duration: 0.3s;
}

.level3-title {
  font-size: 0.8em;
}

.navbar-search {
  width: 10vw;
  height: 40%;
  margin: 10px;
  border-radius: 50px;
  padding: 0 10px;
  box-shadow: 0px 2px 5px 2px rgb(10, 10, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-search > input {
  width: calc(100% - 25px);
  background-color: transparent;
  border: none;
  outline: none;
}

.nb-srh-in-light {
  color: black;
}

.nb-srh-in-dark {
  color: white;
}

.navbar-search-button {
  font-size: 20px;
  color: grey;
}

.navbar-bar {
  position: relative;
  font-size: 40px;
  color: grey;
  top: -4px;
}

.bell-icon {
  font-size: 25px;
  background-color: var(--bluecolor);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 5px var(--bluecolor);
  margin: 0 8px;
}

.navbar-user-continer {
  margin-left: 10px;
  width: 200px;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-img {
  width: 6vh;
  height: 6vh;
  background-color: var(--bluecolor);
  border-radius: 10px;
}

.user-data-light h3 {
  color: black;
  margin-top: 2px;
  margin-bottom: 0;
}

.user-data-dark h3 {
  color: white;
  margin-top: 2px;
  margin-bottom: 0;
}

.user-data-light div {
  color: var(--bluecolor);
}

.user-data-dark div {
  color: var(--bluecolor);
}
