.killPoint__titleSection {
  margin-top: 30px;
  margin-bottom: 30px;
}

.killPoint__killPointCalculator {
  display: flex;
  align-items: center;
}

.killPoint__kills {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid lightgrey;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  margin-right: 10px;
}

.killPoint__calc {
  margin-left: 10px;
  margin-right: 10px;
}

.killPoint__calc > span {
  font-weight: 450;
}

.killPoint__buttonSection {
  display: flex;
  margin-top: 60px;
}

.killPoint__buttonSection > .btn {
  margin-right: 20px;
}

.killPoint__bonusPointText {
  margin-top: 30px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.btn-group {
  margin-right: 10px;
}

.killPoint__inputFeild {
  margin-left: 10px;
  margin-right: 10px;
}

.killPoint__inputFeild > span {
  font-weight: 450;
}
